@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif; /* Change 'monospace' to 'sans-serif' */
}

body {
    margin: 0;
}

.nav {
    background-color: aqua;
    color: grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.5rem;
    padding: 0rem 1rem;
    font-size:x-large;
}
.site-title {
    font-size: 3rem;
}

.nav ul {
    padding: 1;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}



.nav a {
    color: white;
    text-decoration: none;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    padding: .25rem;

}

.nav li:hover {
    background-color: gray;
    height: 100%;
    text-decoration: underline;

}

.nav li.update-keywords {
    background-color: gray;
    align-items: stetch;
    
}

.nav li.update-keyword:hover {
    text-decoration-color: black;
    text-decoration: underline;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6%;
    font-size: xxx-large;
    
    

}
hr {
    border: none;
    border-top: 1px solid #ccc; /* Adjust color to make it fainter */
    width: 50%; /* Adjust width to make it span less than the entire width */
    margin: 0 auto; /* Center the line horizontally */
}

.tweet-box {
    width: 50%;
    margin: 0 auto;
}

.username {
    font-size: large;
    font-weight: 300;

}

.tweet-text {
    font-size: xx-large;
    font-weight: 500;
    margin: 0 0;
}

.link {
    color: black;
    
}